extends layout

block content
  .intro-wrapper
    .text
      .text-card
        h1 Meet the Class of 2016
        h4 72 students, all with a story to tell.
        hr
        .center
          .filter-home.all.active(data-filter='all') Everyone
          .filter-home.graphic(data-filter='.Graphic') Graphic
          .filter-home.motion(data-filter='.Motion') Motion
          .filter-home.interaction(data-filter='.Interaction') Interaction
    img.graphic-image(src= 'img/graphic_pattern.png')
    img.motion-image(src= 'img/motion_pattern.png')
    img.interaction-image(src= 'img/interaction_pattern.png')
  
  .wrapper
    #Container.container
      - for post in contentful.posts
        a(href= post._url)
          .item.mix(class= post.focus)
            .card-wrapper
              .image
                img#img(src= asset(post.portrait))
              .card-content
                span.project= post.titleOfCapstone
                span.name= post.studentName
