doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='2016 Graphic Communication Design Exhibition at the University of Cincinnati')
    meta(name='author', content= "University of Cincinnati")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(property="og:image", content="img/logo.png")
    block title
      title GRCD 2016
    link(rel='stylesheet', href='css/master.css')
    link(rel='icon', type='image/png', href='img/favicon.png')
    noscript
      style.
          #Container .mix {
            display: block;
            float: left;
          }
          #ContainerMore .mix {
            display: block;
            float: left;
          }
          header.landingStyle #img_wrap {
            visibility: visible;
            opacity: 1;
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
          }
          header.landingStyle {
            background-color: white;
          }
  body
    block headerStyle
      header
        #img_wrap.static
          a(href="index.html")
            img#animated(src="img/logoanimated.gif")
            img#static(src="img/logo.png")
        .navList
          .menu
            span.icon-bar.top-bar
            span.icon-bar.middle-bar
            span.icon-bar.bottom-bar
          ul
            li
              a.news(href="news.html") News
            li
              a.popup-vimeo(href="https://vimeo.com/162584962") Video
            li
              a.projectsAnchor(href="index.html#projects") Projects

    block content
    
    block siteFooter
      footer.site-footer.fade
        #footer-logo
          a(href="index.html")
            img(src="img/logo-gray.png")
        ul
            li.social
              a(href="https://www.facebook.com/grcd2016/", target="_blank")
                img(src="img/facebook-logo.svg")
            li.social
              a(href="https://twitter.com/grcd_2016", target="_blank")
                img(src="img/twitter-logo.svg")
            li.social
              a(href="https://www.instagram.com/grcd_2016", target="_blank")
                img(src="img/instagram-logo.svg")


!= js()

script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75296527-1', 'auto');
  ga('send', 'pageview');
