extends layout

block content
  .videoWrapper
    .embed-container
      iframe(src="//player.vimeo.com/video/91738727", frameborder="0", autoplay=1, webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
