@include keyframes(slideFromTop) {
  from {
    opacity: 0;
    @include transform(translate3d(0, -100px, 0));
  }
  to {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }
}

.slideFromTop {
  @include animation-name(slideFromTop);
}

@include keyframes(fade) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade {
  @include animation-name(fade);
}
