/* Interaction Shapes */
#interaction1 {
	display: none;
	top: 5%;
    left: 102%;
    width: 25%;
}
#interaction2 {
	top: 100%;
    left: 90%;
    width: 5%;
}
#interaction3 {
	
	top: 22%;
    left: 60%;
    width: 2%;
}
#interaction4 {
	display: none;
}
#interaction5{
	
	top:95%;
	left:38%;
	width:5%;
}
#interaction6{
	display: none;
	top:65%;
	left:85%;
	width:5%;
}
#interaction7{
	
	top: 2%;
    left: 30%;
    width: 10%;
}

#interaction9{
	display: none;
	top:22%;
	left:44%;
	width:5%;
}
#motion3{
	top: 19%;
	left: 37%;
	width: 3%;
}
#interaction10{
	top:55%;
	left:5%;
	width:5%;
}
#interaction17{
	top: 83%;
	left: 15%;
	width: 5%;;
}
#interaction14{
	display: none;
	top: 45%;
	left: 5%;
	width: 5%;
}
#interaction11,
#interaction13,

#interaction15,
#interaction16,
#interaction18,
#interaction19{
	display: none;
}


/*Motion Icons*/
#motion1 {
	display: none;
}
#motion2 {
	display: none;
	top: 20%;
	width: 5%;
	left: -3%;
}

#motion4{
	top: 18%;
	left: 21%;
	width: 4%;
}

#motion6{
	display: none;
	top: 45%;
    left: 91%;
    width: 2%;
}
#motion7{
	display: none;
	top:85%;
	left:80%;
	width:5%;
}
#motion8{
	top: 102%;
	left: 4%;
	width: 5%;
}

#motion10{
	top:40%;
	left:95%;
	width:5%
}
#motion17{
	top: 63%;
    left: 90%;
    width: 6%;
}
#motion11,
#motion12,
#motion13,
#motion14,
#motion15,
#motion16,
{
	display: none;
}


#print1{
	
	top:99%;
	left:40%;
	width:3%;
}
#print2{
	top: 94%;
    left: 88.2%;
    width: 4%;
}
#print3{
	display: none;
	top:5%;
	left:32%;
	width:2%;
}
#print4{
	top: 42%;
	left: 2%;
	width: 5%;
}
#print5{
	display: none;
	top: 100%;
    left: 0%;
    width: 5%;
}
#print6{
	top: 50%;
    left: 83%;
    width: 3%;
}
// #print6{
// 	top:10%;
// 	left:15%;
// 	width:3%;
// }
// #print7{
// 	top:10%;
// 	left:15%;
// 	width:3%;
// }
// Overlays print 1
#print8{
	display: none;
	width:6%;
	top:88%;
	left:88%;
}
#print9{
	display: none;
	top:30%;
	left:96%;
	width:5%;
}
#print10{

	top:40%;
	left:93%;
	width:3%;
}
#print11{
	width: 5%;
    top: 15%;
    left: 90%;
}
#print15{
	top: 100%;
    left: 70%;
    width: 10%;
}
#print17{
	top: 100%;
	left:5%;
	width:8%;
}
#print7,
#print13,
#print16,
#print18,
#print19{
	display: none;
}
// pizza
#interaction12{
	top:34%;
	left:10.5%;
	width:5%;
}
//Pizza dots
#motion9{
	top:35.5%;
	left:10.5%;
	width:3%;
}
// pizza
#print14{
	top:35%;
	left:10.3%;
	width:4%;
}
/*Brain*/
#interaction8{
	top: 20%;
    left: 70.5%;
    width: 7%;
}
/*Brain*/
#motion5{
	top: 23%;
    left: 70%;
    width: 7%;
}
/*Brain*/
#print12{
	top: 21%;
    left: 77%;
    width: 2%;
}