/* Header */
header{
	padding: .5em;
	width:100%;
	position: fixed;
	top:0;
	background-color: white;
	z-index: 999;
}
#img_wrap{
	/*margin: 0 auto;*/
	width:200px;
	cursor:pointer;
}
#img_wrap #static, #img_wrap:hover #animated {
  display: inline;
	width: 100%;
}
#img_wrap #animated, #img_wrap:hover #static {
  display: none;
}
