/*Mixitup requires this */
#Container .mix{
  display: none;
}
/*Filtered Items Container */
.wrapper{
  min-height: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  padding-top: 1em;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 2% 0 0;
  text-align: justify;
}
.container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.container .item,
.container .gap{
  display: inline-block;
  width: 49%;
  cursor: pointer;
}

.container .item{
  text-align: left;
  border: 1px solid rgb(250,250,250);
  margin-bottom: 2%;
  cursor: pointer;
  /*display: none; <-- uncomment this rule for use with MixItUp */
}


/* Class Intro Section */
.intro-wrapper{
  width:100%;
  height:480px;
  overflow: hidden;
  margin-top: 80px;
  position: relative;

}
.intro-wrapper img{
  position: absolute;
  top:0;
  left:0;
  width:101%;
  mix-blend-mode: multiply;
  transition: all .4s ease;
}
/* Default state for track background imgs */
.hidden{
  opacity: 0;
  -webkit-transform: rotate(20deg) scale(1.2);
  transform: scale(1.2);
}

.intro-wrapper .text{
  position: absolute;
  top:50px;
  left:0;
  width:100%;
  z-index: 2;
  text-align: center;
}
.text-card{
  background-color: white;
  padding: 2em;
  width:70%;
  max-width: 1000px;
  min-width: 500px;
  height:380px;
  margin: 0 auto;
  box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.05);
  border: 10px solid $lightest-gray;
}
.text-card h1{
  margin-top: 0;
  text-align: left;
}
.text-card h4{
  margin-bottom: 0;
  text-align: left;
}
hr {
  opacity: .5;
  margin-bottom: 1em;
}
/* Filters for tracks */
.filter-home{
  height:200px;
  color:$light-gray;
  width: calc(96%/4);
  margin-right: 1%;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 1.5em;
  font-size: 1.25em;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: 55%;
  background-position: center center;
  transition: all .2s ease-in;
  span{
    position: relative;
    top: 90%;
  }
}
/* Individual Filter Styles */
.filter-home.all {
  background-image: url("../img/everyone_inactive.svg");
  background-size: 75%;
}
.filter-home.graphic{
  background-image: url("../img/print_inactive.svg");
  background-size: 45%;
}
.filter-home.motion{
  background-image: url("../img/motion_inactive.svg");
  background-position: 60% center;
}
.filter-home.interaction{
  background-image: url("../img/interaction_inactive.svg");
}
/* Hover States*/
.filter-home.graphic:hover{
  color:#EFBD00; 
}
.filter-home.motion:hover{
  color:#D83A91;
}
.filter-home.interaction:hover{
  color:$interaction; 
}
/*Active States*/
.filter-home.graphic.active{
  color:$graphic;
  background-image: url("../img/print.svg");
}
.filter-home.motion.active{
  color:$motion;
  background-image: url("../img/motion.svg");
}
.filter-home.interaction.active{
  background-image: url("../img/interaction.svg");
  color:$interaction;
}
.filter-home.all.active{
  color:#492d5d;
  background-image: url("../img/everyone.svg");
}



/* Person Card Styles */
.card-wrapper{
  transition: all .2s ease-in;
  border: 1px solid $lightest-gray;
}
.card-wrapper:hover{
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.13);
}
.card-wrapper:hover img{
  opacity:.9;
}
.container .item .image{
  width:100%;
  overflow: hidden;

}
.container .item .image img{
  width: 100%;
}
.card-content{
  width:100%;
  height:70px;
  font-size: .75em;
  overflow: hidden;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.card-content .name{
  font-size: 1.5em;
  font-weight: bold;
  transition: all .1s ease-in;
  color:#323132;
  padding-bottom: .5em;
  margin-top: 0;
}
/*Person Card Hover*/
a.item.Graphic:hover .name {
  color:#EFBC1B;
}
a.item.Interaction:hover .name {
  color:#57C1A5;
}
a.item.Motion:hover .name {
  color:#D83A91;
}
.card-content .project{
  text-transform: uppercase;
  display: block;
  letter-spacing: 2px;
  color:#9B9B9B;
  margin-bottom: 0;
}

/*MEDIA QUERIES*/

@media all and (max-width: 520px){
  .wrapper{
    padding:.25em;
  }
  .intro-wrapper{
    height:450px;
  }
  .text-card{
    width:100%;
    padding:.5em;
    padding-left: 1em;
    padding-top: 1em;
    height:350px;
    text-align: left;
  }
  .filter-home{
    display: block;
  }
  .container .item,
  .container .gap,
  .container .item.project{
    width: 100%;
  }
  .project.wrapper{
    width:100%;
    padding: .5em;
  }
  .info{
    display: flex;
    flex-wrap: wrap;
  }
  .info .project-info{
    width:100%;
    order: 2;

  }
  .info .person-info{
    position: relative;
    width:100%;
    order: 1;
    margin-bottom: 0em;

  }
  .container .item .image{
    display: none;
  }
  .filter-home{
    width: 100%;
    background-image: none;
    margin: 0;
    height: 2.5em;
    padding-top: 1.75em;
    span{
      top: 0;

    }

    &.graphic,
    &.motion,
    &.all,
    &.interaction,
    &.all.active,
    &.graphic.active,
    &.motion.active,
    &.interaction.active{
      background-image: none;
    }
  }

}
@media all and (min-width: 720px){
  .container .item,
  .container .gap{
    width: 32%;
  }
}

@media all and (min-width: 1200px){

}
