#Container .mix{
  display: none;
}

#ContainerMore .mix{
  display: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 2% 0 0;
  text-align: justify;
  /*font-size: 0;*/
}

.wrapper{
  min-height: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  padding-top: 1em;
}


.container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.container .item,
.container .gap{
  display: inline-block;
  width: 48%;
  cursor: pointer;
  @media (min-width: 800px) {
      width:24%;
  }
}

.container .item{
  text-align: left;
  margin-bottom: 2%;
  cursor: pointer;
  /*display: none; <-- uncomment this rule for use with MixItUp */
}

.intro-wrapper{
  width:100%;
  height:134px;
  overflow: hidden;
  position: relative;
  @media (min-width: 1200px) {
      height:70px;
  }
}
.intro-wrapper img{
  position: absolute;
  top:5px;
  left:0;
  width:102%;
  mix-blend-mode: multiply;
  transition: all .4s ease;
}
.intro-wrapper .text{
  position: absolute;
  left:0;
  width:100%;
  text-align: center;
}

// Behemoth info section class
.text-container{
  width:100%;
  overflow: hidden;
  max-width:1200px;
  margin: 0em auto 2em auto;

  .text-wrapper{
    padding-top: 2em;
      padding-bottom: 2em;
    @media (max-width: 750px) {
        padding-top: 0;
        padding-bottom: 0;
      }
  }
  .info-col{
      float:right;
      display: inline-block;
      width:100%;

    }
  .col{
    width: 44.33%;
    padding-right: 20px;
    display: inline-block;
    height:177px;
    vertical-align: top;

    &.small{
      width: 18%;
      margin-right: 0;
      @media (max-width: 900px){
        width:45%;
      }
      @media (max-width: 750px) {
        width:100%;
        display: block;
      }
    }
    h1{
      margin-top: 0;

    }
    p {
      margin-top: 0;
      line-height: 150%;
    }
    &:last-child{
      margin-right: 0;
    }
    a {
      &:hover{
        text-decoration: underline;
      }
    }
    @media (max-width: 900px) {
      width: 80%;
      display: inline-block;
      padding: .75em;
    }
    @media (max-width: 750px) {
      width:100%;
      display: block;
      padding: .75em;
      margin-bottom: 0;
      padding-bottom: 0;
      margin-top: 1em;

    }
    @media (min-width: 1200px) {
      margin-right: 14em;
    }
  }
  @media (max-width: 750px) {
      width:100%;
      display: block;
      padding: .75em;
      margin-top: 0em;
      margin-bottom: 0;
      padding-bottom: 0;
  }
}
.section-header{
  text-transform: uppercase;
  margin-bottom: .5em;
}
.emphasized{
  font-weight: bold;
  margin-top: .5em;
  margin-bottom: .5em;
}
//anchor tag
#projects {
  display: block;
  position: relative;
  top: -45px;
  visibility: hidden;
}

.center{
    margin-top: 1.5em;
    text-align: center;
    @media (max-width: 750px) {
        text-align: left;
        padding-left: 1em;

      }
  }
.text-card h1{
  margin-top: 0;
  margin-bottom: .25em;
}
h4{
  margin-top: 0;
}
hr {
  opacity: .5;
  margin-bottom: 1em;
}
.filter-home{
  //position: relative;
  background-color: none;
  color:$light-gray;
  width: 23%;
  margin-right: 1%;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 1.5em;
  font-size: 1.25em;
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: left center;
  @include transition(all .2s ease-in);
}

.filter-home span {
  position: relative;
}

.filter-home span:after {
  content: "";
  display: block;
  //margin: 0 auto;
  left: 0;
  //right: 0;
  //text-align: center;
  height: 4px;
  background-color: black;
  opacity: 0;
  position: absolute;
  bottom: -5px;
  width: 100%;
  @include transition(all .2s ease-out);
  @include transform(translateY(10px));
}

.filter-home:hover span:after,
.filter-home.active span:after {
  opacity: 1;
  @include transform(translateY(0));
}



.filter-home.graphic:hover{
  color:$graphic;
}
.filter-home.graphic.active,
{
  color:$graphic;
}
.filter-home.graphic span:after {
  background-color: $graphic;
}

.filter-home.motion:hover{
  color:#D83A91;
}
.filter-home.motion.active{
  color:#D83A91;
}
.filter-home.motion span:after {
  background-color: $motion;
}

.filter-home.interaction.active{
  color:#57C1A5;
}
.filter-home.interaction:hover{
  color:#57C1A5;
}
.filter-home.interaction span:after {
  background-color: $interaction;
}

.filter-home.all.active{
  color:#323123;
}
.filter-home.all:hover{
  color:#323123;
}
.filter-home.all span:after {
  @include linear-gradient(90deg, $graphic 0%, $graphic 33%, $motion 33%, $motion 66%, $interaction 66%);
}

a.item.Graphic:hover .name {
  color:#EFBC1B;
}
a.item.Interaction:hover .name {
  color:#57C1A5;
}
a.item.Motion:hover .name {
  color:#D83A91;
}

.card-wrapper{
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  border: 1px solid $lightest-gray;
}
.card-wrapper:hover{
  @include transform(translateY(-10px));
  box-shadow: 0px 10px 15px lighten(#d8d8d8,5%);
  border-bottom-color: rgba(216, 216, 216, 0);

}
.container .item .image{
  width:100%;
  overflow: hidden;
}
.container .item .image img{
  width: 90%;
  margin-left: 5%;
  @include transition(all .3s ease-in-out);
}
.card-content{
  width:100%;
  height:80px;
  font-size: .75em;
  overflow: hidden;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.card-content .name{
  font-size: 1.5em;
  font-weight: bold;
  transition: all .1s ease-in;
  color:#323132;
  padding-bottom: .5em;
  margin-top: 0;
}
.card-content .project{
  text-transform: uppercase;
  display: block;
  letter-spacing: 2px;
  color:#9B9B9B;
  margin-bottom: 0;
}

/*MEDIA QUERIES*/

@media all and (max-width: 520px){
  .wrapper{
    padding:.25em;
  }
  .intro-wrapper{
    height: 250px;

  }
  .text-card{
    width:100%;
    padding:.5em;
    padding-left: 1em;
    padding-top: 1em;
    height:350px;
    text-align: left;
    border:none;
  }
  .filter-home{
    display: block;
  }
  .container .item,
  .container .gap,
  .container .item.project{
    width: 100%;
  }
  .project.wrapper{
    width:100%;
    padding: .5em;
  }
  .info{
    display: flex;
    flex-wrap: wrap;
  }
  .info .project-info{
    width:100%;
    order: 2;

  }
  .info .person-info{
    position: relative;
    width:100%;
    order: 1;
    margin-bottom: 0em;

  }
  .container .item .image{
    display: none;
  }
  .filter{
    width: 100%;
    margin: 0;
    height: 2.5em;
    padding: 0.5em;
  }

}


@media all and (min-width: 1200px){

}
