/*Project Page*/


//Start PRoject
.hero-image{
    width: 100%;
    height: 400px;
    margin-top: 80px;
    background-size: cover;
    background-color: $lightest-gray;
    background-position: center center;
}
.project.wrapper{
  min-height: 1200px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

.info{
  width:100%;
  min-height:400px;
}

//start person info
.info .person-info{
  vertical-align: top;
  position: relative;
  width:32%;
  display: inline-block;
  margin-right: 1%;
  height:100%;

}

.info .person-info p{
  font-size: 1em;
  color:$light-gray;
}

.info .person-info h3{
  font-size: 1.25em;
  margin-bottom: 0;
}
.info .person-info h4{
  font-size: 1em;
  margin-top: .5em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: .2px;
  margin-bottom: .25em;
}

.info .person-info a{
  position:relative;
}

.info .person-info a:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 0px;
      bottom: 0;
      left: 0;
      opacity: 0;
      @include transform(translateY(10px));
      @include transition(all 0.2s ease-out);
  }

.info .person-info.Motion a:before{
  background-color: $motion
}
.info .person-info.Graphic a:before{
  background-color: $graphic
}
.info .person-info.Interaction a:before{
  background-color: $interaction
}

.info .person-info a:hover:before{
  opacity: 1;
  height: 2px;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.info .person-info .portrait{
  vertical-align: top;
  position: relative;
  width:214px;
  height:214px;
  background-color: rgb(250,250,250);
  margin-bottom: 0;
}

.info .person-info .portrait img{
  width: 100%;
  height: auto;
}

//Adds Icon
.info .person-info .portrait:before{
  content: "";
  position: absolute;
  bottom: -25px;
  left: -5px;
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.info .person-info.Motion .portrait:before{
  background-image: url("../img/motion.svg");
}
.info .person-info.Graphic .portrait:before{
  background-image: url("../img/print.svg");
  bottom:-15px;
  left:-7px;
  width:45px;
}
.info .person-info.Interaction .portrait:before{
  background-image: url("../img/interaction.svg");
}

.info .person-info.Motion.Interaction .portrait:before{
  background-image: url("../img/Motion_interaction.svg");
}

//Start Project
.info .project-info{
  width: 64%;
  display: inline-block;
  height: 100%;
  margin-left: 3%;
}
.info .project-info h1{
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0;
}
.info .project-info h2{
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.5em 0;
  font-weight: normal;
  margin-bottom: 1em;
  line-height: 150%;

}
.info .project-info p{
  font-size: 1.25em;
  line-height: 160%;
  color:$light-gray;
}

.pairLink {
  line-height: 25px;
}

//Start image list
ul.project_image_list{
  width: 100%;
  list-style: none;
  padding: 0;
}

ul.project_image_list li{
  margin-bottom: 20px;
}

.project_image_list img {
  width: 100%;
  background-color: $lightest-gray;
}

.activeProject {
  display: none !important;
}

//for Video Embed
.embed-container {
  position: relative;
  margin: 20px 0;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*MEDIA QUERIES*/

@media all and (max-width:720px){
    .info .project-info{
    width:100%;
    margin-left: 0;

  }
  .project.wrapper{
    padding:.5em;
  }
  .container .item.2{
    width:48%;

  }
  .info .person-info{
    width:100%;
    padding-bottom: 20px;
    margin-bottom: 0em;

  }
  .info .person-info:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-top: 1px solid $light-gray

  }

  .info .person-info .portrait{
    float: left;
    margin-right: 0.5em;
  }

}

@media all and (max-width: 520px){
  .container .item.project{
    width:100%;
  }
  .project.wrapper{
    width:100%;
    padding: .5em;
    margin-top: 1em;
  }
  .info{
    display: flex;
    flex-wrap: wrap;
  }

  .info .person-info hr{
    display: block;
  }

  .info .person-info .portrait{
    float: none;
    margin-right: 0em;
  }
}
