/*Project Page*/
.container .item.project{
  width:24%;
}
.hero-image{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    height: 400px;
    margin-top: 80px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}
.project.wrapper{
  min-height: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 0px;
  padding: 2em;
}
.info{
  width:100%;
  min-height:400px;
}
.info hr{
  margin: 1em 0 0 0;
  opacity: 0.2;

}
.info .person-info{
  vertical-align: top;
  width:32%;
  display: inline-block;
  margin-right: 1%;
  height:100%;

}
.person-info a{
  position:relative;
  
}
.person-info a:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $light-gray;
      visibility: hidden;
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
      -webkit-transition: all 0.1s ease-in 0s;
      transition: all 0.1s ease-in 0s;
  }
.person-info a:hover:before{
  visibility: visible;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.person-info .portrait{
  vertical-align: top;
  width:214px;
  height:214px;
  background-color: rgb(250,250,250);
  margin-bottom: 0;
}

.info .project-info{
  width: 64%;
  display: inline-block;
  height: 100%;
  margin-left: 3%;
}
.info .project-info h1{
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0;
}
.info .project-info h2{
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.5em 0;
  font-weight: normal;
  margin-bottom: 1em;
  
}
.info .project-info p{
  font-size: 1.25em;
  line-height: 160%;
  color:$light-gray;
}
.info .person-info p{
  font-size: 1em;
  color:$light-gray;

}
.info .person-info hr{
  display: none;
}
.info .person-info h3{
  font-size: 1.25em;
  margin-bottom: 0;
}
.info .person-info h4{
  font-size: 1em;
  margin-top: .5em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: .2px;
  margin-bottom: .25em;
}

.project ul{
  list-style: none;
  padding: 0;
}

.project img{
  width:100%;
  margin-bottom: 3em;
}


/*MEDIA QUERIES*/

@media all and (max-width: 520px){
  .container .item.project{
    width:100%;
  }
  .project.wrapper{
    width:100%;
    padding: .5em;
    margin-top: 1em;
  }
  .info{
    display: flex;
    flex-wrap: wrap;
  }

  .info .person-info hr{
    display: block;
  }
}
@media all and (max-width:720px){
    .info .project-info{
    width:100%;
    order: 2;
    margin-left: 0;

  }
  .info .person-info{
    width:100%;
    order: 1;
    margin-bottom: 0em;

  }
}
@media all and (min-width: 720px){
  .container .item,
  .container .gap{
    width: 32%;
  }
}

@media all and (min-width: 1200px){
  .container .item,
  .container .gap{
    width: 32%;
  }
}
